.navbar-top-bg{
    background-color:#00ffff !important;
}

.navbar{
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;

} 
  

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #ff8c00;
    transition: 0.4s
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color:	#ff8c00;
}

.nav-link {
    padding: 25px 5px;
    transition: 0.2s
}